    /*RESET*/

    @import url('../css/reset.css');
    /*MIXIN*/

    $primary-color:#b78a15;
    /*EXTEND*/
    /*START*/

    html,
    body {
        height: 100vh;
    }

    body {
        color: #fff;
        font-size: 15px;
        line-height: 150%;
        font-family: Arial, Helvetica, sans-serif;
        background: #000;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    input {
        border: 0px;
        font-size: 15px;
    }

    * {
        box-sizing: border-box;
    }

    .container {
        width: 980px;
        margin: 0 auto;
    }

    #header {
        display: flex;
        justify-content: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        .branding {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 50px 0;
            .banner {
                text-align: center;
                h1 {
                    display: inline-block;
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    a {
                        display: inline-block;
                        margin: 10px;
                        padding: 0 15px;
                        font-size: 50px;
                        line-height: normal;
                        border-top: 1px solid #fff;
                        border-bottom: 1px solid #fff;
                    }
                }
                h2 {
                    font-size: 18px;
                    font-family: Arial, Helvetica, sans-serif;
                    padding: 10px 0;
                }
            }
            .link {
                display: flex;
                justify-content: center;
                margin: 30px 0;
                li {
                    a {
                        padding: 0 20px;
                        &.active,
                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
            .flexslider {
                background-size: 980px 498px, contain;
                background-image: url('../images/banner.jpg');
                background-repeat: no-repeat;
                background-position: center;
                height: 498px;
            }
        }
    }

    #news {
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        .article {
            width: 232px;
            display: flex;
            flex-direction: column;
            .title {
                font-size: 20px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                margin: 0 0 20px 0;
            }
            .photo {
                margin: 0 0 20px 0;
            }
            .noPhoto {
                display: flex;
                justify-content: center;
                text-align: center;
                width: 232px;
                height: 146px;
                background: $primary-color;
                color: #fff;
                margin: 0 0 20px 0;
                .entry-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    .prefixFont {
                        font-size: 35px;
                        line-height: normal;
                    }
                    .businessHours {
                        font-size: 20px;
                    }
                }
            }
            .text {
                margin: 0 0 20px 0;
                font-size: 14px;
            }
            .more {
                margin: 0 0 20px 0;
                font-size: 8px;
                a {
                    color: $primary-color;
                }
            }
        }
    }

    #reservations {
        padding: 40px 0;
        text-align: center;
        border-bottom: 1px solid #fff;
        .title {
            font-size: 30px;
            margin: 0 0 50px 0;
            line-height: normal;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        select {
            border: 1px solid #fff;
            background: #000000;
            color: #fff;
            width: 170px;
            padding: 10px;
            font-size: 18px;
            margin: 0 10px 0 0;
        }
        button {
            background: $primary-color;
            color: #fff;
            border-radius: 2px;
            padding: 12px;
            border: 0;
            width: 180px;
            font-size: 18px;
        }
    }

    #footer {
        display: flex;
        justify-content: center;
        padding: 50px 0;
        .title {
            font-weight: bold;
            color: $primary-color;
            font-size: 16px;
            margin: 0 0 15px 0;
        }
        .text {
            font-size: 8px;
        }
        .information {
            display: flex;
            flex-wrap: wrap;
            align-content: space-between;
            .contact {
                flex-basis: 50%;
                padding: 0 50px 0 0;
                .address {
                    margin: 0 0 15px 0;
                }
            }
            .opening {
                flex-basis: 50%;
            }
            .copyright {
                flex-basis: 100%;
                font-size: 8px;
                .link {
                    margin: 0 0 10px 0;
                    a {
                        padding: 0 5px;
                        font-size: 18px;
                    }
                }
            }
        }
    }