html, body{
    height: 100%;
}
body{
    margin: 0;
	padding: 0;
    font-size: 15px;
    line-height: 150%;
    background: #eaecee;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color:#999;
    text-decoration: none;
}
h1,p{
    margin: 0;
    padding: 0;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
input{
    border: 0px;
    font-size: 15px;
}
#header{
    background:#fff;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;

    h1{
        padding: 0 40px;
        a{
            color:#38494d;
            font-weight: bold;
            font-size:18px;
            letter-spacing: 2px;
            border-bottom: 3px solid #38494d;
        }
    }
    ul{
        display: flex;
        display: -webkit-flex;
        li{
            padding: 2em;
            a{
                display: block;
                &.active{
                    color:#38494d;
                }
                &:hover{
                    color: #38494d;
                }
            }
        }
    }
    .shop{
        padding: 0 40px;
    }
}
#content{
    width: 980px;
    margin: 0 auto;
    min-height: 100%;
    letter-spacing: 1px;

    .description{
        color:#38494d;
        background:#759ca4;
        font-size: 3.2em;
        font-weight: bold;
        box-sizing: border-box;
        margin: 0 0 20px 0;
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        
        .slogan{
            line-height: 120%;
            padding: 40px;
            a{
                font-weight: normal;
                font-size: 25px;
                border-bottom: 3px solid #557277;
                color:#fff;
                padding: 0 0 5px 0;
            }
        }
    }
    .waterfallWall{
        column-count: 3;
        -webkit-column-count: 3;
        column-fill: auto;
        -webkit-column-fill: auto;
        column-gap: 20px;
        -webkit-column-gap: 20px;
        height: 2030px;

        .defult{
            margin: 0 0 20px 0;
            overflow: hidden;

            .mark{
                position: absolute;
                color:#fff;
                background:#759ca4;
                padding: 15px 25px;
            }
        }
        .h657{
            height: 657px;
        }
        .h468{
            height: 468px;
        }
        .h319{
            height: 319px;
        }
        .h170{
            background: #759ca4;
            color: #eaecee;
            font-size:  30px;
            font-weight: bold;
            text-align: center;
            height: 170px;
            line-height: 170px;
        }
    }
}
#footer{
    background:#557277;
    color:#d0d0d0;

    .bottomInfo{
        display: flex;
        display: -webkit-flex;
        justify-content:center;
        -webkit-justify-content:center;
        
        .box{
            display: flex;
            display: -webkit-flex;
            margin: 20px 0;
            width: 980px;
            
            .contactUs{
                flex: 1;
                .title{
                    font-weight: bold;
                }
                .mail{
                    margin: 0 0 20px 0;
                }
                .link{
                    a{
                        padding: 10px;
                        color:#fff;
                        i{
                            font-size: 22px;

                            &:hover{
                                color:#999;
                            }
                        }
                    }
                }
            }
            .weAccept{
                flex: 1;
                img{
                    color:#fff;
                    margin: 10px 5px 0 0;
                }
            }
            .joinEmail{
                flex: 2;
                input{
                    padding: 5px 0;
                }
                input[type=email]{
                    box-sizing: border-box;
                    width: 100%;
                    background:#d0d0d0;
                    margin: 10px 0;
                    padding: 10px;
                }
                button{
                    border: 0;
                    width: 100%;
                    background:#38494d;
                    color:#fff;
                    padding: 10px;
                }
            }
        }
    }
    .copyright{
        font-size: 10px;
        background:#545354;
        padding: 1em 0;
        text-align: center;
        a{
            color:#fff;
            text-decoration: underline;
        }
    }
}