@import url('reset.css');
body {
    font-family: Microsoft JhengHei;
    line-height: 160%;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    #test,
    #answer {
        flex-basis: 45%;
        padding: 30px;
    }
    #answer {
        background: #eee;
        font-size: 30px;
    }
    .try {
        margin: 0 0 20px 0;
    }
}