.top-link {
  height: 55px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D7D7D7;
  .user-information {
    .user-photo {
      text-align: right;
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      margin: 0 0 0 10px;
    }
  }
}

.title {
  margin: 2% 0 0 0;
  color: #666;
  font-size: 18pt;
  font-weight: bold;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin: 1.5% 0 0 0;
  .stack-background {
    font-size: 13pt;
    color: #000;
    background: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 5px 0 0;
  }
  .search {
    display: flex;
    flex: 8;
    .input-group {
      flex: 3;
      input[type="text"] {
        font-size: 11pt;
        border: 1px solid #D7D7D7;
        &::-webkit-input-placeholder {
            color: #C9C9C9;
        }
      }
      .btn-search {
          color: #595757;
          padding: 0 15px;
          font-size: 10pt;
          background: #fff;
          border: 1px solid #D7D7D7;
          border-radius: 0 5px 5px 0px;
      }
    }
    .advanced-search {
      flex: 2;
      margin: 0 0 0 10px;
    }
  }
  .add-machine {
    flex: 2;
    text-align: right;
  }
}

.page {
  margin: 1% 0;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  .rowsPerPage {
    margin: 0 5px 0 0;
  }
  .pagination {
    margin: 0 0 0 15px;
    a {
      display: inline-block;
      text-align: center;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 10pt;
      color: #000;
      background: none;
      border: 1px solid #D7D7D7;
      &:hover {
        color: #fff;
        background: #343434;
      }
    }
    .page-item {
      &.active {
        a {
          color: #fff;
          background: #343434;
        }
      }
    }
    .disabled {
      a {
        i {
            color: #ddd;
        }
        &:hover {
            background: none;
            cursor: default;
        }
      }
    }
  }
}