.top-link {
  height: 55px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D7D7D7;
  .user-information {
    .user-photo {
      text-align: right;
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      margin: 0 0 0 10px;
    }
  }
}

.title {
  margin: 2% 0 0 0;
  color: #666;
  font-size: 18pt;
  font-weight: bold;
}

.controls-box {
  display: flex;
  justify-content: space-between;
  margin: 1.5% 0 0 0;
  .stack-background {
    font-size: 13pt;
    color: #000;
    background: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 35px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin: 0 5px 0 0;
  }
  .search {
    position: relative;
    display: flex;
    flex: 8;
    .input-group {
      flex: 3;
      input[type="text"] {
        font-size: 11pt;
        border: 1px solid #D7D7D7;
        &::-webkit-input-placeholder {
            color: #C9C9C9;
        }
      }
      .btn-search{
        color: #595757;
        font-size: 10pt;
        background: #fff;
        border: 1px solid #D7D7D7;
        border-radius: 0 5px 5px 0px;
      }
    }
    .advanced-search {
      flex: 2;
      margin: 0 0 0 10px;
    }
    .advanced-search-box{
      display: none;
      background: #fff;
      position: absolute;
      top: -13px;
      right: 0;
      width: 104.4%;
      padding: 20px;
      text-align: right;
      border: 1px solid #D7D7D7;
      border-radius: 5px;

      .search-type{
        display: flex;
        align-items: center;
        margin: 15px 0 0 0;
        .select-search{
          flex: 1;
          border: 1px solid #D7D7D7;
          border-radius: 5px;
          padding: 6px 0;
          margin: 0 0 0 10px;
        }
      }
      .btn-advanced-close,
      .btn-advanced-search {
          min-width: 10%;
          margin: 15px 0 0 10px;
          color: #595757;
          font-size: 10pt;
          background: #fff;
          border: 1px solid #D7D7D7;
      }
      &:before {
        position: absolute;
        right: -12px;
        top: 22px;
        border-top: 8px solid hsla(0, 0, 0, 0);
        border-bottom: 8px solid hsla(0, 0, 0, 0);
        border-left: 12px solid #D7D7D7;
        display: inline-block;
        content: '';
      }
      &:after {
        position: absolute;
        right: -10px;
        top: 20px;
        border-top: 10px solid hsla(0, 0, 0, 0);
        border-bottom: 10px solid hsla(0, 0, 0, 0);
        border-left: 15px solid #fff;
        display: inline-block;
        content: '';
      }
    }
  }
  .add-machine {
    flex: 2;
    text-align: right;
  }
}

.page {
  margin: 1% 0;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  .rowsPerPage {
    margin: 0 5px 0 0;
  }
  .pagination {
    margin: 0 0 0 15px;
    a {
      display: inline-block;
      text-align: center;
      width: 30px;
      height: 30px;
      line-height: 30px;
      font-size: 10pt;
      color: #000;
      background: none;
      border: 1px solid #D7D7D7;
      &:hover {
        color: #fff;
        background: #343434;
      }
    }
    .page-item {
      &.active {
        a {
          color: #fff;
          background: #343434;
        }
      }
    }
    .disabled {
      a {
        i {
            color: #ddd;
        }
        &:hover {
            background: none;
            cursor: default;
        }
      }
    }
  }
}