/*RESET*/

@import url('../css/reset.css');

/*VARIABLES*/

$bg-color:#f5f4f2;

/*EXTEND*/

%toplinkAction {
    color: #19aca8;
    text-shadow: 1px 1px 1px #fff;
    background: -webkit-linear-gradient(#19aca8, #c8e09e, transparent 92%);
}


/*START*/

html,
body {
    min-height: 100vh;
}

body {
    font-size: 15px;
    line-height: 150%;
    color: #888;
    background: $bg-color;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #888;
    text-decoration: none;
}

input {
    border: 0px;
    font-size: 15px;
}

#header {
    display: flex;
    justify-content: center;
    background: url('../images/headerbg.jpg') #e3eae8 repeat left top;
    .box {
        width: 930px;
        display: flex;
        justify-content: space-between;
        h1 {
            padding: 15px 0
        }
        .link {
            display: flex;
            li {
                a {
                    font-size: 10px;
                    display: inline-block;
                    width: 110px;
                    height: 130px;
                    line-height: 130px;
                    text-align: center;
                    &.active {
                        @extend %toplinkAction;
                    }
                    &:hover {
                        @extend %toplinkAction;
                    }
                }
            }
        }
    }
}

#content {
    position: relative;
    width: 930px;
    margin: 20px auto;
    min-height: 100%;
    a {
        text-decoration: underline;
    }
    .solgan {
        position: absolute;
        top: 0px;
        right: 0;
        .title {
            font-size: 85px;
            line-height: 120%;
            font-family: BlinkMacSystemFont;
            background: -webkit-linear-gradient(#9ab91a, #576f10);
            -webkit-background-clip: text;
            color: transparent;
            letter-spacing: 5px;
        }
        .text {
            font-size: 8px;
            letter-spacing: 10px;
            margin: -15px 0 0 150px;
            color: #576f10;
        }
    }
    .article {
        line-height: 190%;
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        .entry-content-first {
            padding: 80px 0 0 0;
        }
        .entry-content {
            font-size: 8px;
            .entry-title {
                color: #e19b56;
                font-size: 22px;
                letter-spacing: 1px;
            }
        }
        .text-left {
            text-align: left;
        }
        .text-right {
            text-align: right;
        }
    }
    .direction-r-l {
        flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
    }
}

#footer {
    color: #51d9da;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: -webkit-linear-gradient(#25bbbb, #1b7692);
    box-sizing: border-box;
    padding: 20px 0 0 0;
    height: 130px;
    display: flex;
    justify-content: center;
    a {
        color: #51d9da;
        transition: 1s;
        -webkit-transition: 1s;
        i {
            font-size: 35px;
        }
        &:hover {
            color: #fff;
        }
    }
    #box {
        width: 930px;
        display: flex;
        justify-content: space-between;
        .bottomlink {
            width: 180px;
            display: flex;
            justify-content: space-between;
        }
    }
}