/*NORMAIL*/
@import url("../css/reset.css");
/*VARIABLES*/
/*START*/
html,
body {
  min-height: 100vh; }

body {
  font-size: 15px;
  line-height: 150%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  color: #2a2b2c; }

a {
  color: #999;
  text-decoration: none; }

input {
  border: 0px;
  font-size: 15px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  #header .branding {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #494747; }
    #header .branding h1 {
      padding: 0 40px; }
      #header .branding h1 a {
        color: #cdcdcd;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 5px; }
    #header .branding .link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #header .branding .link li {
        padding: 2em; }
        #header .branding .link li a {
          font-family: 'ABeeZee'; }
          #header .branding .link li a.active {
            color: #fff; }
          #header .branding .link li a:hover {
            color: #fff; }
    #header .branding .shop {
      color: #494747;
      font-size: 8px;
      display: inline-block;
      width: 21px;
      height: 26px;
      line-height: 32px;
      text-align: center;
      background: url("../images/shop.jpg") no-repeat left top; }
  #header .flexslider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background-size: 1510px 475px, contain;
    background-image: url("../images/banner.jpg");
    background-position: center top;
    min-height: 475px; }
    #header .flexslider .photo img {
      width: 100%;
      display: block; }
    #header .flexslider .more {
      position: absolute;
      background: rgba(255, 255, 255, 0.5);
      width: 500px;
      height: 150px;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
      #header .flexslider .more .title {
        font-size: 50px;
        line-height: normal;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold; }
      #header .flexslider .more .shop a {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        width: 50%;
        padding: 5px 0;
        background: #2a2b2c; }
  #header .slogan h2 {
    text-align: center;
    letter-spacing: 5px;
    padding: 10px;
    background: #e1e1e1; }

#content {
  margin: 100px auto;
  max-width: 930px; }
  #content .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #content .main .title {
      margin: 0 0 100px 0;
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif; }
      #content .main .title .line {
        border-bottom: 1px solid #2a2b2c;
        width: 35px;
        margin: 50px auto 40px auto; }
      #content .main .title .primary {
        font-size: 40px;
        font-weight: bold;
        letter-spacing: 10px;
        line-height: 40px; }
      #content .main .title .secondary {
        font-family: 'ABeeZee';
        font-size: 20px;
        letter-spacing: 5px; }
    #content .main .article {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #content .main .article .rack {
        position: relative; }
        #content .main .article .rack img {
          width: 100%; }
        #content .main .article .rack .mark {
          width: 100%;
          position: absolute;
          padding: 20px;
          text-align: center;
          font-family: 'ABeeZee'; }
        #content .main .article .rack .defult {
          bottom: 7px;
          background: #2a2b2c;
          color: #fff; }
        #content .main .article .rack .sale {
          top: 50px;
          font-size: 50px;
          letter-spacing: 15px;
          font-family: Georgia, 'Times New Roman', Times, serif; }

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #2a2b2c;
  color: #cdcdcd;
  padding: 25px; }
  #footer .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 980px; }
    #footer .box .bottomlink {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      margin: 0 0 25px 0; }
      #footer .box .bottomlink .title {
        font-size: 14px;
        margin: 0 0 20px 0;
        text-align: center; }
      #footer .box .bottomlink .text {
        text-align: center; }
      #footer .box .bottomlink .link .text span a {
        color: #fff;
        padding: 0 5px; }
      #footer .box .bottomlink .subscribe {
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%; }
        #footer .box .bottomlink .subscribe .text {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; }
          #footer .box .bottomlink .subscribe .text input {
            padding: 10px;
            margin: 0 0 10px 0;
            background: #494747;
            font-size: 13px; }
            #footer .box .bottomlink .subscribe .text input::-webkit-input-placeholder {
              color: #cdcdcd; }
            #footer .box .bottomlink .subscribe .text input:-ms-input-placeholder {
              color: #cdcdcd; }
            #footer .box .bottomlink .subscribe .text input::-ms-input-placeholder {
              color: #cdcdcd; }
            #footer .box .bottomlink .subscribe .text input::placeholder {
              color: #cdcdcd; }
          #footer .box .bottomlink .subscribe .text button {
            padding: 10px;
            border: 0;
            background: #cdcdcd; }
      #footer .box .bottomlink .assistance .text {
        color: #fff;
        text-align: center;
        line-height: 140%;
        font-family: Georgia, 'Times New Roman', Times, serif; }
        #footer .box .bottomlink .assistance .text a {
          color: #fff; }
    #footer .box .copyright {
      text-align: center;
      font-size: 13px; }
